.slide--pyro {
  margin: 0;
  padding: 0;
  background-color: #000 !important;
  background-image: none !important;
  overflow: hidden;
}

.pyro-wrapper {
  width: 100%;
  height: 100%;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -240px -212.66667px #ff00fb, -152px -170.66667px #001eff, 138px -401.66667px #00ff88, 53px -353.66667px #0400ff, -123px -46.66667px #4000ff, 130px -139.66667px #ffe600, 116px -50.66667px #bb00ff, -10px -123.66667px #8400ff, -191px -159.66667px #d5ff00, -90px 0.33333px #00c4ff, 82px -266.66667px #00ddff, 138px -210.66667px #ff0051, -195px -413.66667px #ff0084, 185px -310.66667px #0026ff, 61px 83.33333px #99ff00, -228px -369.66667px #77ff00, 213px -316.66667px #001aff, -200px -215.66667px #00f7ff, 197px -387.66667px #eaff00, -112px -137.66667px #8400ff, -98px -322.66667px #ff002b, 58px -141.66667px #00ff3c, 10px -382.66667px #ff0033, -203px -379.66667px #aa00ff, -3px -250.66667px #a6ff00, 10px 73.33333px #bb00ff, 113px -379.66667px #00ff62, 166px -130.66667px #ffd500, -14px -92.66667px #ff0022, 227px 49.33333px #7700ff, 147px -331.66667px #33ff00, -75px -22.66667px #fff700, -99px -231.66667px #0040ff, -216px -79.66667px #d000ff, 45px -310.66667px #4dff00, -133px -97.66667px #ff6600, 47px -364.66667px #ff8000, 248px -87.66667px #ff00d9, -106px 59.33333px #0062ff, -38px -224.66667px #66ff00, -22px -218.66667px cyan, 79px -11.66667px #002fff, -76px -260.66667px #ffe100, 62px 6.33333px #ff0400, 243px -48.66667px #e600ff, -146px -415.66667px #37ff00, -13px -207.66667px #0022ff, 158px -64.66667px #ff3300, 198px 67.33333px #00ff3c, 160px 13.33333px #ff00c4, -149px -204.66667px #00ff22;
            box-shadow: -240px -212.66667px #ff00fb, -152px -170.66667px #001eff, 138px -401.66667px #00ff88, 53px -353.66667px #0400ff, -123px -46.66667px #4000ff, 130px -139.66667px #ffe600, 116px -50.66667px #bb00ff, -10px -123.66667px #8400ff, -191px -159.66667px #d5ff00, -90px 0.33333px #00c4ff, 82px -266.66667px #00ddff, 138px -210.66667px #ff0051, -195px -413.66667px #ff0084, 185px -310.66667px #0026ff, 61px 83.33333px #99ff00, -228px -369.66667px #77ff00, 213px -316.66667px #001aff, -200px -215.66667px #00f7ff, 197px -387.66667px #eaff00, -112px -137.66667px #8400ff, -98px -322.66667px #ff002b, 58px -141.66667px #00ff3c, 10px -382.66667px #ff0033, -203px -379.66667px #aa00ff, -3px -250.66667px #a6ff00, 10px 73.33333px #bb00ff, 113px -379.66667px #00ff62, 166px -130.66667px #ffd500, -14px -92.66667px #ff0022, 227px 49.33333px #7700ff, 147px -331.66667px #33ff00, -75px -22.66667px #fff700, -99px -231.66667px #0040ff, -216px -79.66667px #d000ff, 45px -310.66667px #4dff00, -133px -97.66667px #ff6600, 47px -364.66667px #ff8000, 248px -87.66667px #ff00d9, -106px 59.33333px #0062ff, -38px -224.66667px #66ff00, -22px -218.66667px cyan, 79px -11.66667px #002fff, -76px -260.66667px #ffe100, 62px 6.33333px #ff0400, 243px -48.66667px #e600ff, -146px -415.66667px #37ff00, -13px -207.66667px #0022ff, 158px -64.66667px #ff3300, 198px 67.33333px #00ff3c, 160px 13.33333px #ff00c4, -149px -204.66667px #00ff22;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -240px -212.66667px #ff00fb, -152px -170.66667px #001eff, 138px -401.66667px #00ff88, 53px -353.66667px #0400ff, -123px -46.66667px #4000ff, 130px -139.66667px #ffe600, 116px -50.66667px #bb00ff, -10px -123.66667px #8400ff, -191px -159.66667px #d5ff00, -90px 0.33333px #00c4ff, 82px -266.66667px #00ddff, 138px -210.66667px #ff0051, -195px -413.66667px #ff0084, 185px -310.66667px #0026ff, 61px 83.33333px #99ff00, -228px -369.66667px #77ff00, 213px -316.66667px #001aff, -200px -215.66667px #00f7ff, 197px -387.66667px #eaff00, -112px -137.66667px #8400ff, -98px -322.66667px #ff002b, 58px -141.66667px #00ff3c, 10px -382.66667px #ff0033, -203px -379.66667px #aa00ff, -3px -250.66667px #a6ff00, 10px 73.33333px #bb00ff, 113px -379.66667px #00ff62, 166px -130.66667px #ffd500, -14px -92.66667px #ff0022, 227px 49.33333px #7700ff, 147px -331.66667px #33ff00, -75px -22.66667px #fff700, -99px -231.66667px #0040ff, -216px -79.66667px #d000ff, 45px -310.66667px #4dff00, -133px -97.66667px #ff6600, 47px -364.66667px #ff8000, 248px -87.66667px #ff00d9, -106px 59.33333px #0062ff, -38px -224.66667px #66ff00, -22px -218.66667px cyan, 79px -11.66667px #002fff, -76px -260.66667px #ffe100, 62px 6.33333px #ff0400, 243px -48.66667px #e600ff, -146px -415.66667px #37ff00, -13px -207.66667px #0022ff, 158px -64.66667px #ff3300, 198px 67.33333px #00ff3c, 160px 13.33333px #ff00c4, -149px -204.66667px #00ff22;
            box-shadow: -240px -212.66667px #ff00fb, -152px -170.66667px #001eff, 138px -401.66667px #00ff88, 53px -353.66667px #0400ff, -123px -46.66667px #4000ff, 130px -139.66667px #ffe600, 116px -50.66667px #bb00ff, -10px -123.66667px #8400ff, -191px -159.66667px #d5ff00, -90px 0.33333px #00c4ff, 82px -266.66667px #00ddff, 138px -210.66667px #ff0051, -195px -413.66667px #ff0084, 185px -310.66667px #0026ff, 61px 83.33333px #99ff00, -228px -369.66667px #77ff00, 213px -316.66667px #001aff, -200px -215.66667px #00f7ff, 197px -387.66667px #eaff00, -112px -137.66667px #8400ff, -98px -322.66667px #ff002b, 58px -141.66667px #00ff3c, 10px -382.66667px #ff0033, -203px -379.66667px #aa00ff, -3px -250.66667px #a6ff00, 10px 73.33333px #bb00ff, 113px -379.66667px #00ff62, 166px -130.66667px #ffd500, -14px -92.66667px #ff0022, 227px 49.33333px #7700ff, 147px -331.66667px #33ff00, -75px -22.66667px #fff700, -99px -231.66667px #0040ff, -216px -79.66667px #d000ff, 45px -310.66667px #4dff00, -133px -97.66667px #ff6600, 47px -364.66667px #ff8000, 248px -87.66667px #ff00d9, -106px 59.33333px #0062ff, -38px -224.66667px #66ff00, -22px -218.66667px cyan, 79px -11.66667px #002fff, -76px -260.66667px #ffe100, 62px 6.33333px #ff0400, 243px -48.66667px #e600ff, -146px -415.66667px #37ff00, -13px -207.66667px #0022ff, 158px -64.66667px #ff3300, 198px 67.33333px #00ff3c, 160px 13.33333px #ff00c4, -149px -204.66667px #00ff22;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=wirework.css.map */