html {
  --color-blue: #244c8e;
  --html-color: #f16529;
  --css-color: #264de4;
  --js-color: #f0db4f;
}
.shower {
  --slide-ratio: calc(16 / 9);
}
.slide {
  background-image: url('images/bg.png');
  background-size: cover;
  padding-left: 100px;
}
.slide:after {
  background-image: url('images/ribbon.svg');
}
.slide:after {
  transform-origin: center 0;
  /* transform: scale(0.5); */
}
.slide--title {
  display: flex;
  padding-top: 0;
  align-items: center;
  align-content: center;
  justify-content: center; 
  text-align: center;
  flex-wrap: wrap;
}
.slide--title:after {
  visibility: hidden;
}
.w-100 {
  width: 100%;
}
.fz-12 {
  font-size: 12px;
}
.fz-16  {
  font-size: 16px;
}
.fz-18 {
  font-size: 20px;
}
.custom-table {
  text-align: center;
}
.custom-table th, 
.custom-table td {
  text-align: center;
  background-image: none !important;
}
.icon {
  font-size: 148px;
}
.icon--html {
  color: var(--html-color);
}
.icon--css {
  color: var(--css-color);
}
.icon--js {
  color: var(--js-color);
}
.in-white {
  color: white !important;
}
.slide--cern {
  background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5)), url('https://www.universetoday.com/wp-content/uploads/2018/12/nwOtx-2000x1200.jpg');
  background-size: cover;
}
.close-button {
  width: 66px;
  height: 66px;
  border: 4px solid var(--color-blue);
  color: var(--color-blue);
  font-weight: 900;
  font-size: 60px;
  line-height: 56px;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}
.demo-nav__list-item {
  display: inline-block;
}
.demo-nav__list-item:before {
  display: none;
}
