html {
  --color-blue: #244c8e;
  --html-color: #f16529;
  --css-color: #264de4;
  --js-color: #f0db4f;
}
.shower {
  --slide-ratio: calc(16 / 9);
}
.slide {
  background-image: url('images/bg.png');
  background-size: cover;
  padding-left: 100px;
}
.slide:after {
  background-image: url('images/ribbon.svg');
}
.slide:after {
  transform-origin: center 0;
  /* transform: scale(0.5); */
}
.slide--title {
  display: flex;
  padding-top: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.slide--title:after {
  visibility: hidden;
}
.w-100 {
  width: 100%;
}
.fz-12 {
  font-size: 12px;
}
.fz-16  {
  font-size: 16px;
}
.fz-18 {
  font-size: 20px;
}
.custom-table {
  text-align: center;
}
.custom-table th, td {
  text-align: center;
  background-image: none !important;
}
.icon {
  font-size: 148px;
}
.icon--html {
  color: var(--html-color);
}
.icon--css {
  color: var(--css-color);
}
.icon--js {
  color: var(--js-color);
}
