html {
  --color-blue: #244c8e;
}
.shower {
  --slide-ratio: calc(16 / 9);
}
.slide {
  background-image: url('images/bg.png');
  background-size: cover;
}
.slide:after {
  background-image: url('images/ribbon.svg');
}